#가{
  /* 폰트 사이즈 설정*/
  font-size: xx-small;
  color: #ff0000;
  text-align: start;
}

#나{
  /* 폰트 사이즈 설정
  키워드*/
  font-size: medium;
  text-align: end;
  color: #46eaf0;
}

#다{
  /* 폰트 사이즈 설정*/
  font-size: xx-large;
  color: rgb(0, 0, 255);
  text-align: center;
}
#라의상위요소 {
  font-size: 20px;
  text-align: justify;
}
#라{
  font-size: 2em;
  color: rgba(0, 0, 20, 5);
}
#마{
  font-size: 16px;
  font-style: normal;
  font-style: italic;
  
}
#바{
  font-size: 16px;
  font-weight: bolder;
 
}
#사{
  font-size: 16px;
  font-weight: 100;
 }
 #아{
  text-align: justify;
 }
 .justify-text{
  text-align: justify
  
 }
