*{
  margin: 0;
  padding: 0;
}

p{
  width: 100px;
  border: 1px solid black;
}

#id1{
  position: static;
}

#id2{
  position: relative;
}
#id3{
  position: relative;
  /*왼쪽에서 100px 떨어지게 표시*/
  left: 100px;
  /*위쪽에서 -50px 떨어지게 표시*/
  top: -50px;

}

#id4{
  position: fixed;
  /*오른쪽에서 30px 떨어지게*/
  right: 30px;
  /*위쪽에서 30px 떨어지게*/
  top: 30px;
}
